a {
  text-decoration: none;
  color: black;
}

.Avatar {
  border-radius: 50%;
}

.NameWidget {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 58px;
  margin-bottom: 10px;
  padding: 10px;
  position: fixed;
  bottom: 0;
}

.NameWidget:hover {
  background-color: rgb(29, 161, 242, 0.1);
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  width: 200px;
  margin-right: 35px;
  cursor: default;
}

.NameWidget > svg {
  height: 20px;
}

.NameWidget > img {
  height: 35px;
}

.Info {
  margin-left: 10px;
  margin-right: 30px;
}

.Info p {
  font-size: 15px;
  margin: 0;
}

.Info :first-child {
  font-weight: 700;
}

.Info :last-child {
  color: gray;
}

.Sidebar {
  box-sizing: border-box;
  height: 100%;
  border-right: 1px solid rgb(230, 236,241);
}

.SidebarIcons svg {
  height: 25px;
}

.SidebarIcons div {
  cursor: default;
  display: flex;
  align-items: center;
  margin-left: 75px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 19px;
  height: 45px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;;
}

.SidebarIcons div:hover {
  background-color: rgb(29, 161, 242, 0.1);
  color: rgba(29,161,242,1.00);
  fill: rgba(29,161,242,1.00);
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  width: fit-content;
  padding: 0px 10px;
  box-sizing: border-box;
  margin-left: 65px;
}

.SidebarIcons div > p {
  margin-left: 20px;
  font-size: 0.95em;
  cursor: default;
}

.MainIcon {
  width: 29px;
  height: 29px;
  fill: rgba(29,161,242,1.00);
  margin: 5px 0px 0px 65px;
  padding: 10px
}

.MainIcon:hover {
  border-radius: 50%;
  background-color: rgb(29, 161, 242, 0.1);
}

.TweetButton {
  width: 190px;
  height: 40px;
  margin-left: 75px;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
  color: white;
  background-color: rgba(29,161,242,1.00);
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.TweetButton:hover {
  background-color: rgb(26, 145, 218);
} 

.TweetButton > p {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 800;
}

@media (max-height: 600px) {
  .NameWidget {
    position: relative;
    top: 0;
  }
}

@media (min-height: 601px) {
  .Sidebar {
    min-height: 100vh;
    max-height: 100%;
  }
}