.Post {
  height: fit-content;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-top: 0.5px solid rgb(230, 236,241);
  border-right: 1px solid rgb(230, 236,241);
  border-bottom: 0.5px solid rgb(230, 236,241);
  padding: 10px 15px 0px 15px;
}

.Post > * {
  width: 100%;
}

.Post:hover {
  background-color: rgba(116, 116, 116, 0.028);
}

.PostController {
  margin-bottom: 10px;
}

.Avatar {
  border-radius: 50%;
  width: 49px;
  height: 49px;
}

.PostBody {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 0px;
}

.PostBody .PostContent {
  margin-bottom: 25px;
  margin: 10px 0;
  width: 100%;
  border: none;
  resize: none;
  background-color: rgba(255,255,255,0);
}

.PostHead {
  display: flex;
  flex-direction: row;
}

.UserInfo {
  width: 98%;
}

.DownArrow {
  border-radius: 50%;
  padding: 6px;
  width: 15px;
}

.DownArrow:hover {
  fill: rgba(29,161,242,1.00);
  background-color: rgba(29,161,242, 0.10);
}

.EditControls {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px;
}

.EditControls button {
  display: block;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;
  background-color: rgba(29,161,242,1.00);
  border-radius: 9999px;
  justify-self: flex-end;
  font-size: 0.95em;
  font-weight: 900;
  color: white;
  border: none;
  padding: 10px;
}

.Username {
  padding: 0 3px 0 0;
  margin: 0px;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.Handle {
  padding: 0 5px 0 0;
}

.Handle, .Username, .PostHead  p {
  margin: 0;
}

.UserInfo {
  display: flex;
  flex-direction: row;
}

.TweetEditModal {
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  background-color: white;
  z-index: 10;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.TweetEditModal svg {
  margin-right: 10px;
  fill: rgb(101, 119, 134);
  height: 25px;
  display: inline-block;
  padding: 15px 0 15px 15px;
}

.TweetEditModal p {
  font: 'Segoe UI';
  margin: 0;
  padding: 15px 15px 15px 0px;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  color: rgb(20, 23, 26);
  line-height: 19.86px;
}

.TweetEditModal div {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 0;
}

.TweetEditModal div:hover {
  background-color: rgb(230, 236, 240, 0.5);
}

.TweetEditModal .Delete {
  fill: red;
}