.PostController {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.PostController svg {
  width: 18.75px;
  height: 18.75px;
  fill: rgb(101, 119, 134);
  border-radius: 50%;
  padding: 8px;
}

.PostController svg.Comment:hover {
  background-color: rgb(223, 239, 249);
  fill: rgba(29,161,242,1.00);
}
