.PostController {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.PostController svg {
  width: 18.75px;
  height: 18.75px;
  fill: rgb(101, 119, 134);
  border-radius: 50%;
  padding: 8px;
}

.PostController svg.Comment:hover,
.PostController svg.Share:hover {
  background-color: rgb(223, 239, 249);
  fill: rgba(29,161,242,1.00);
} 

.PostController svg.Retweet:hover {
  background-color: rgb(226, 242, 234);
  fill: rgba(100, 195, 109, 1.00);
}

.PostController svg.Favorite:hover {
  background-color: rgb(241, 225, 233);
  fill: rgba(226, 64, 94, 1.00);
}

.TweetEditModal {
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  background-color: white;
  z-index: 10;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.TweetEditModal svg {
  margin-right: 10px;
  fill: rgb(101, 119, 134);
  height: 25px;
  display: inline-block;
  padding: 15px 0 15px 15px;
}

.TweetEditModal p {
  font: 'Segoe UI';
  margin: 0;
  padding: 15px 15px 15px 0px;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  color: rgb(20, 23, 26);
  line-height: 19.86px;
}


.TweetEditModal div {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 0;
}

.TweetEditModal div:hover {
  background-color: rgb(230, 236, 240, 0.5);
}

.TweetEditModal .Delete {
  fill: red;
}